body {
    background-color: beige;
    font-family: monospace;
    text-align: center;
    color:white
}
form {
    
    max-width: 600px;
    margin: 50px ;
    opacity:0.8;
}
h1{
    font-size: 24px;
    font-weight: 300;
    margin: 50px;
    
}
input
{
    border-color: #ccc;
    border: 1px solid #777;
    background-color: antiquewhite;
    margin: 10px;
    text-align: center;
    color:black;
    
}

.button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
